# qrouter runtime script for project Display_optimized_auto_SPI

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack all
vdd vdd
gnd gnd
obstruction -9.0 1096.5 1101.0 1104.0 metal1
obstruction -9.0 -3.0 1101.0 1.5 metal1
obstruction -9.0 -3.0 1.5 1104.0 metal1
obstruction 1093.5 -3.0 1101.0 1104.0 metal1
obstruction 1.5 1096.5 1093.5 1104.0 metal3
obstruction 1.5 -3.0 1093.5 1.5 metal3
obstruction -9.0 1.5 1.5 1096.5 metal2
obstruction 1093.5 1.5 1101.0 1096.5 metal2
read_def Display_optimized_auto_SPI.def
qrouter::standard_route Display_optimized_auto_SPI_route.def false 
quit
